$container-background: #212121
$container-transparent: #21212121
$darker-transparent: #212121
$border-radius: 12px
$border-color: #4f4f4f
$border: 1px solid $border-color
$padding: 12px
$font-color: white
$sidebar-height: calc(100dvh / 8)
$item-height: calc((100dvh - (9 * $padding)) / 8)
$sidebar-true-width: $item-height
$sidebar-width: calc(100dvh / 8 + (2 * $padding))
$white-filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(219deg) brightness(108%) contrast(101%)
$gray-filter: invert(58%) sepia(0%) saturate(851%) hue-rotate(174deg) brightness(88%) contrast(89%)
$dark-filter: invert(7%) sepia(90%) saturate(0%) hue-rotate(261deg) brightness(101%) contrast(89%)

@font-face
	font-family: "VT323"
	font-style: normal
	font-weight: 400
	src: url("/fonts/VT323/VT323-Regular.ttf") format(truetype), url("/fonts/VT323/VT323-Regular.woff") format(woff), url("/fonts/VT323/VT323-Regular.woff2") format(woff2)

html
	background-color: $container-background
	color: $font-color
	font-family: "VT323"
	overflow: hidden

h1, h2, h3, h4, h5, p, body
	margin: 0

h1
	font-size: 2rem

button
	padding: 0
	font-family: "VT323"
	// color: white

.title
	font-size: 10rem
	padding: $padding
	border-radius: $border-radius

.curtain
	top: 0
	left: 0
	right: 0
	bottom: 0
	position: absolute
	backdrop-filter: blur(3px)
	z-index: -1

.container
	background-color: $container-background
	border-radius: $border-radius
	border: $border
	padding: $padding

	&.clear
		background-color: $container-transparent
		backdrop-filter: blur(10px)

.main-content
	margin-left: $sidebar-width
	margin-right: $sidebar-width
	margin-top: $padding
	margin-bottom: $padding
	gap: $padding
	display: flex
	flex-direction: column
	z-index: 1
	max-width: calc( 100dvw - ($sidebar-width * 2) )

.sidebar
	height: 100%
	width: $sidebar-true-width
	position: fixed
	z-index: 2
	top: 0
	padding: $padding
	display: flex
	flex-direction: column
	gap: $padding
	overflow-x: hidden
	background-color: $container-transparent
	backdrop-filter: blur(10px)
	transition: width .5s

	&.left
		left: 0
		border-right: $border

	&.right
		right: 0
		border-left: $border

	&:hover
		width: calc(min(100dvw / 2, 800px)) !important

.room-button
	font-family: "VT323"
	font-size: 4rem
	display: inline-block
	padding: calc($padding / 2) calc($padding * 2)
	margin-right: calc($padding * 2)
	margin-bottom: calc($padding * 2)

.item-container
	display: flex
	justify-content: flex-start
	position: relative
	overflow: hidden
	height: calc((100dvh - (9 * 12px)) / 8)
	background-color: $darker-transparent
	border-radius: $border-radius * 2

	&.right
		flex-direction: row-reverse

.item
	height: $item-height
	width: $item-height
	min-width: $item-height
	background-size: contain
	background-position: center
	background-color: #00000000
	background-repeat: no-repeat
	border: none
	border-radius: $border-radius * 2
	cursor: pointer
	transition: all .3s

	&.right
		order: 1
		align-self: flex-end

	&.condition
		filter: invert(87%)

	&:hover
		filter: invert(87%)

	&:disabled
		filter: invert(87%)

.item-text
	padding: $padding
	font-size: 2rem
	min-width: calc((100dvw / 2) - ($sidebar-width - $padding - ($padding / 2)))
	justify-content: center
	align-items: flex-start
	display: flex
	flex-direction: column

.header
	display: flex
	flex-direction: column
	gap: $padding

	.row
		display: flex
		justify-content: space-between
		align-items: center
		align-content: center

.charge-container
	@extend .container
	display: flex

	&.right
		flex-direction: row-reverse

	&.clear
		@extend .container, .clear

.icon
	filter: $white-filter

.buckshot
	width: calc($item-height * 4)
	height: calc($item-height * 4)

.message
	position: absolute
	padding: $padding
	left: $sidebar-width
	right: $sidebar-width
	bottom: $padding
	text-align: center

.condition-container
	@extend .container
	display: flex
	flex-direction: column
	gap: 12px
	width: $item-height
